@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

@tailwind components;

@layer components {
  .bg-custom-red {
    background: #c20936;
  }
  .custom-red {
    color: #c20936;
  }
}

@font-face {
  font-family: 'Averta Light';
  src: url('/fonts/AvertaCY-Light.woff') format('woff');
  src: url('/fonts/AvertaCY-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Averta Regular';
  src: url('/fonts/AvertaCY-Regular.woff') format('woff');
  src: url('/fonts/AvertaCY-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Averta Semibold';
  src: url('/fonts/AvertaCY-Semibold.woff') format('woff');
  src: url('/fonts/AvertaCY-Semibold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Averta Bold';
  src: url('/fonts/AvertaCY-Bold.woff') format('woff');
  src: url('/fonts/AvertaCY-Bold.ttf') format('truetype');
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

p {
  line-height: 2;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

ol,
ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: 'Averta Light', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 20px;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-family: 'Averta Semibold', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Averta Regular', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #c20936;
  transition: all 0.3s linear;
}

article a {
  color: #c20936;
  text-decoration: none;
}

article a:hover {
  color: #26282c;
}
